<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Home</title>
  <link rel="stylesheet" type="text/css" href="/app.css">
</head>

<body>
  <div class="container">

    <form action="/auth/logout?_method=DELETE" method="POST">
      <h1 class="title">Hi <%= name %> </h1>
      <p>
        Log in Done
      </p>
    </h1>
    <button type="submit" class="logOut">Log Out</button>
  </form>
</div>
</body>

</html>